<a href="https://colab.research.google.com/github/Farhansaif-Khan/Practice/blob/main/APP_P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practical No. 3**

In [18]:

# Calculator using class and object
class calc():
     def add(a,b):
      return a+b
     def sub(a,b):
      return a-b

print(calc.sub(5,10))
print(calc.add(5,10))

-5

15

In [50]:
# Area using class
class area():
     def tri(l,b):
      return (1/2)*l*b
     def rect(l,b):
      return l*b
     def square(l,b):
      return l**2
print(area.tri(5,10))
print(area.rect(5,10))
print(area.square(5,10))

25.0
50
25

In [45]:
# practice
# Student class

class student():
  def setd():
   student.name ="Farhan Khan"
   student.age =20
   student.abc_id="askjd12"
   student.gender ='M'
  def getd():
   print("Name:",student.name)
   print("age:",student.age)
   print("abc_id:",student.abc_id)
   print("gender:",student.gender)


student.setd()
student.getd()

Name: Farhan Khan
age: 20
abc_id: askjd12
gender: M

In [47]:
# practice
# Employee class

class Employee():
  def setd():
   Employee.name ="Farhan Khan"
   Employee.age =20
   Employee.experience= 5
   Employee.position ='HR manager'
  def getd():
   print("Name:",Employee.name)
   print("age:",Employee.age)
   print("experience:",Employee.experience)
   print("position:",Employee.position)


Employee.setd()
Employee.getd()

Name: Farhan Khan
age: 20
experience: 5
position: HR manager